<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>
<body>
<p th:text="'Hello, ' + ${user} + '!'" />
<p th:text="'Hello, ' + ${ands} + '!'" />
<th th:text="${name}">Date Planted</th>


<p th:utext="#{home.welcome}">Welcome to our grocery store!</p>

<p>Today is: <span th:text="${today}">13 February 2011</span></p>

<div class="container">
    <h1 style="text-align: center;">Welcome "user"!</h1>
    <p style="text-align: center;">For your location: cord1, cord2</p>
    <table class="table" style="margin-top: 150px;">
        <thead>
        <tr>
            <th>Date</th>
            <th>Login</th>
            <th>Summary</th>
            <th>Precip intensity</th>
            <th>Precip probability</th>
            <th>Temperature</th>
            <th>Apparent Temperature</th>
            <th>Dew point</th>
            <th>Humidity</th>
            <th>Wind speed</th>
            <th>Wind Bearing</th>
            <th>Visibility</th>
            <th>Cloud cover</th>
            <th>Pressure</th>
            <th>Ozone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weather,iterationStatus  : ${weatherEntities}" class="success">
            <td th:text="${weather.date}"/>
            <td th:text="${weather.login}"/>
            <td th:text="${weather.summary}"/>
            <td th:text="${weather.precipIntensity}"/>
            <td th:text="${weather.precipProbability}"/>
            <td th:text="${weather.temperature}"/>
            <td th:text="${weather.apparentTemperature}"/>
            <td th:text="${weather.dewPoint}"/>
            <td th:text="${weather.humidity}"/>
            <td th:text="${weather.windSpeed}"/>
            <td th:text="${weather.windBearing}"/>
            <td th:text="${weather.visibility}"/>
            <td th:text="${weather.cloudCover}"/>
            <td th:text="${weather.pressure}"/>
            <td th:text="${weather.ozone}"/>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
